*.o
*.lo
*.la
*.dylib
*.dylib.dSYM
*.so
*.a
*.dll
**/.deps/*
**/.libs/*
stamp-h1

Makefile
config.status
autoconf.h
autom4te.cache
libtool

*~
*.bak

netmux
slave

TAGS
tags

# legacy crap
*.log
mux/game/bin/dbconvert
mux/game/bin/libmux.*
mux/game/bin/netmux
mux/game/bin/slave
mux/game/data/comsys*
mux/game/data/mail*
mux/game/data/*dir
mux/game/data/*pag
mux/game/data/*.db
mux/game/data/*.db.old
mux/game/*.pid
