*.log
mux/game/bin/dbconvert
mux/game/bin/libmux.*
mux/game/bin/netmux
mux/game/bin/slave
mux/game/data/comsys*
mux/game/data/mail*
mux/game/data/*dir
mux/game/data/*pag
mux/game/data/*.db
mux/game/data/*.db.old
mux/game/*.pid
*.o
Makefile
*.status
*.dylib
*.dylib.dSYM
*.so
*.a
autoconf.h
*~
mux/src/buildnum.data
mux/src/netmux
mux/src/slave
autom4te.cache
