*.o
*.lo
*.la
*.dylib
*.dylib.dSYM
*.so
*.a
*.dll
**/.deps/*
**/.libs/*
stamp-h1
*.log
.dirstamp

Makefile
config.status
autoconf.h
autom4te.cache
libtool

*~
*.bak

netmux
slave
stubslave

/mux/etc/netmux.conf
/mux/etc/script.conf
/mux/etc/*.default
/mux/etc/text/*.default
/mux/scripts/mux-backup
/mux/scripts/mux-backup-flat
/mux/scripts/mux-load-flat
/mux/scripts/mux-start
/mux/scripts/mux-stop
/mux/scripts/mux-unload-flat
/mux/scripts/*.default
/mux/mux.?????

/mux/etc-dir
/mux/scripts-dir
/mux/test/*.trs

/mux/coverage-test-*
*.gcno
*.gcda
coverage.info

TAGS
tags

/mux/doxygen
